/* Global resets */
html,body,#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  background: #caa9a9; /* outer pink */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
